# Netflix Data Analysis

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Config to show inline grids
%matplotlib inline
sns.set_theme(style="whitegrid")

In [3]:
# Load CSV
df = pd.read_csv('./datasets/Netflix Daily Top 10.csv')

# Show first 5 rows
df.head()

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
0,2020-04-01,1,1,1,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",9,90
1,2020-04-01,2,2,-,Ozark,TV Show,Yes,"Jul 21, 2017",5,45
2,2020-04-01,3,3,2,All American,TV Show,NaN,"Mar 28, 2019",9,76
3,2020-04-01,4,4,-,Blood Father,Movie,NaN,"Mar 26, 2020",5,30
4,2020-04-01,5,5,4,The Platform,Movie,Yes,"Mar 20, 2020",9,55

## Task 1 - DataTypes

In [4]:
# DataTypes by column
df.dtypes

As of                   object
Rank                     int64
Year to Date Rank       object
Last Week Rank          object
Title                   object
Type                    object
Netflix Exclusive       object
Netflix Release Date    object
Days In Top 10           int64
Viewership Score         int64
dtype: object

## Task 2 - Period of Data Analysis

In [5]:
# Convert Date to datetime
df['As of'] = pd.to_datetime(df['As of'])

In [6]:
# Identify initial date and final date

initial_date = df['As of'].min()
final_date = df['As of'].max()

print(f'Initial Date: {initial_date}')
print(f'Final Date: {final_date}')

Initial Date: 2020-04-01 00:00:00
Final Date: 2022-03-11 00:00:00